@model SachOnline.Models.DONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONDATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dathanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dathanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tinhtranggiaohang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tinhtranggiaohang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaydat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaygiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaygiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiGH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoaiGH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoaiGH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDonHang }) |
    @Html.ActionLink("QUAY VỀ TRANG CHỦ", "Index")
</p>
