
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<html lang="vi" data-textdirection="ltr" style="--vh: 7.07px;" class="loaded">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="csrf-token" content="8IwVshlzdtA8qVBuCpCvEWxvY2DHZcB1VPly7IHM">

    <title>Liên hệ | Nền Tảng</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://nentang.vn/app/images/logo/favicon.ico">


    <!-- Default SEO -->
    <link rel="canonical" href="https://nentang.vn/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Cung cấp các kiến thức Nền tảng, cơ bản về Lập trình, Lập trình web, Lập trình di động, Cơ sở dữ liệu, ...">
    <meta name="twitter:title" content="Nền tảng Kiến thức">
    <meta name="twitter:image" content="https://nentang.vn/wp-content/uploads/2021/05/CardVisit_NenTang_FrontSide.png">
    <script src="https://partner.googleadservices.com/gampad/cookie.js?domain=nentang.vn&amp;callback=_gfp_s_&amp;client=ca-pub-6903007690503165&amp;cookie=ID%3D758b313d2a598f89-22962979eee40091%3AT%3D1697534376%3ART%3D1697534395%3AS%3DALNI_MYEDxawebfFGJzb7e4tzuu2NtxSSg&amp;gpic=UID%3D00000c651ad30264%3AT%3D1697534376%3ART%3D1697534376%3AS%3DALNI_MZhTKcBLgdYiUeYqpwZHO7PTp6RRA" nonce="2VaoZwwt"></script>
    <script src="https://connect.facebook.net/vi_VN/sdk.js?hash=ffe5984e389386560873689e9e847a02" async="" crossorigin="anonymous"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202310100101/show_ads_impl_fy2021.js" nonce="2VaoZwwt" id="google_shimpl"></script>
    <script type="application/ld+json" class="yoast-schema-graph yoast-schema-graph--main">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://nentang.vn/#organization","name":"N\u1ec1n T\u1ea3ng Ki\u1ebfn th\u1ee9c","url":"https://nentang.vn/","sameAs":["https://www.facebook.com/nentangkienthuc","https://www.youtube.com/channel/UCOaCQplCyIutBLSdFNCzxyQ"],"logo":{"@type":"ImageObject","@id":"https://nentang.vn/#logo","url":"https://nentang.vn/wp-content/uploads/2019/06/logo-nentang-1.jpg","width":400,"height":400,"caption":"N\u1ec1n T\u1ea3ng Ki\u1ebfn th\u1ee9c"},"image":{"@id":"https://nentang.vn/#logo"}},{"@type":"WebSite","@id":"https://nentang.vn/#website","url":"https://nentang.vn/","name":"N\u1ec1n t\u1ea3ng Ki\u1ebfn th\u1ee9c","publisher":{"@id":"https://nentang.vn/#organization"},"potentialAction":{"@type":"SearchAction","target":"https://nentang.vn/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"ImageObject","@id":"https://nentang.vn/#primaryimage","url":"https://nentang.vn/wp-content/uploads/2018/04/btn_appstore.png","width":132,"height":47},{"@type":"WebPage","@id":"https://nentang.vn/#webpage","url":"https://nentang.vn/","inLanguage":"vi-VN","name":"N\u1ec1n t\u1ea3ng Ki\u1ebfn th\u1ee9c","isPartOf":{"@id":"https://nentang.vn/#website"},"about":{"@id":"https://nentang.vn/#organization"},"primaryImageOfPage":{"@id":"https://nentang.vn/#primaryimage"},"datePublished":"2015-10-19T04:23:53+00:00","dateModified":"2019-10-06T17:31:28+00:00","description":"Cung c\u1ea5p c\u00e1c ki\u1ebfn th\u1ee9c N\u1ec1n t\u1ea3ng, c\u01a1 b\u1ea3n v\u1ec1 L\u1eadp tr\u00ecnh, L\u1eadp tr\u00ecnh web, L\u1eadp tr\u00ecnh di \u0111\u1ed9ng, C\u01a1 s\u1edf d\u1eef li\u1ec7u, ..."}]}</script>
    <!-- / Yoast SEO plugin. -->

    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Nền tảng Kiến thức »" href="https://nentang.vn/feed/">
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Nền tảng Kiến thức »" href="https://nentang.vn/comments/feed/">


    <meta name="keywords" content="Nền tảng,HTML,CSS,XML,JavaScript, Lập trình C#, Lập trình, Web, Kiến thức, Đồ án, Học web, hoc web, Học web Cần thơ, download đồ án mẫu, web bán hàng, web thương mại điện tử, web ecommerce">
    <meta name="author" content="Dương Nguyễn Phú Cường">
    <meta name="description" content="Cung cấp các kiến thức Nền tảng, cơ bản về Lập trình, Lập trình web, Lập trình di động, Cơ sở dữ liệu, Học web, học web cần thơ, đồ án mẫu, bài tập thực hành web...">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">

    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nền tảng Kiến thức">
    <meta property="og:description" content="Cung cấp các kiến thức Nền tảng, cơ bản về Lập trình, Lập trình web, Lập trình di động, Cơ sở dữ liệu, ...">
    <meta property="og:url" content="https://nentang.vn/">
    <meta property="og:site_name" content="Nền tảng Kiến thức">




    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;family=Sedgwick+Ave&amp;family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://nentang.vn/app/vendors/css/vendors.min.css?id=a09a0e3f1b4a384cbbce">
    <link rel="stylesheet" href="https://nentang.vn/app/vendors/css/ui/prism.min.css?id=2b6ec658f3078cb5a481">


    <link rel="stylesheet" href="https://nentang.vn/app/css/bootstrap.css?id=c9acc4101727d689dd4b">
    <link rel="stylesheet" href="https://nentang.vn/app/css/bootstrap-extended.css?id=4f2d50d3ba5efef20355">
    <link rel="stylesheet" href="https://nentang.vn/app/css/colors.css?id=c731e5125533b8d6337c">
    <link rel="stylesheet" href="https://nentang.vn/app/css/components.css?id=7661ef0d30c437fb3887">
    <link rel="stylesheet" href="https://nentang.vn/app/css/themes/dark-layout.css?id=4cab7a7cc76348d81426">
    <link rel="stylesheet" href="https://nentang.vn/app/css/themes/semi-dark-layout.css?id=41bdea3d92dff10a3a09">






    <link rel="stylesheet" href="https://nentang.vn/app/css/core/menu/menu-types/horizontal-menu.css?id=7a3fa0d2f209f9551d2a">
    <link rel="stylesheet" href="https://nentang.vn/app/css/core/menu/menu-types/vertical-menu.css?id=b2e84dbd16d06bfdeed0">
    <link rel="stylesheet" href="https://nentang.vn/app/css/core/colors/palette-gradient.css?id=481306dac133dfb42a7b">


    <link rel="stylesheet" href="https://nentang.vn/app/css/pages/users.css?id=cbe1ca88a9f2a1279cbc">
    <link rel="stylesheet" href="https://nentang.vn/app/css/plugins/forms/validation/form-validation.css?id=d3f628bff1ee11dc83f1">

    <link rel="stylesheet" href="https://nentang.vn/app/css/custom-laravel.css?id=9401a04422fa980803b3">


    <link rel="stylesheet" href="https://nentang.vn/app/css/tailwind.css?id=4202dd151989be0a9e2a">
    <link rel="stylesheet" href="https://nentang.vn/app/css/custom-edu.css">

    <script>
        let app = window.app || {};
    </script>

    <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6903007690503165" crossorigin="anonymous" data-checked-head="true"></script>
    <script async="" custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>


    <meta property="fb:pages" content="2108089979508983">
    <meta http-equiv="origin-trial" content="As0hBNJ8h++fNYlkq8cTye2qDLyom8NddByiVytXGGD0YVE+2CEuTCpqXMDxdhOMILKoaiaYifwEvCRlJ/9GcQ8AAAB8eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <meta http-equiv="origin-trial" content="AgRYsXo24ypxC89CJanC+JgEmraCCBebKl8ZmG7Tj5oJNx0cmH0NtNRZs3NB5ubhpbX/bIt7l2zJOSyO64NGmwMAAACCeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3MTk1MzI3OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <style>@charset "UTF-8";.swal2-popup.swal2-toast{flex-direction:row;align-items:center;width:auto;padding:.625em;overflow-y:hidden;box-shadow:0 0 .625em #d9d9d9}.swal2-popup.swal2-toast .swal2-header{flex-direction:row}.swal2-popup.swal2-toast .swal2-title{flex-grow:1;justify-content:flex-start;margin:0 .6em;font-size:1em}.swal2-popup.swal2-toast .swal2-footer{margin:.5em 0 0;padding:.5em 0 0;font-size:.8em}.swal2-popup.swal2-toast .swal2-close{position:static;width:.8em;height:.8em;line-height:.8}.swal2-popup.swal2-toast .swal2-content{justify-content:flex-start;font-size:1em}.swal2-popup.swal2-toast .swal2-icon{width:2em;min-width:2em;height:2em;margin:0}.swal2-popup.swal2-toast .swal2-icon::before{display:flex;align-items:center;font-size:2em;font-weight:700}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-popup.swal2-toast .swal2-icon::before{font-size:.25em}}.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line]{top:.875em;width:1.375em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:.3125em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:.3125em}.swal2-popup.swal2-toast .swal2-actions{flex-basis:auto!important;width:auto;height:auto;margin:0 .3125em}.swal2-popup.swal2-toast .swal2-styled{margin:0 .3125em;padding:.3125em .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-styled:focus{box-shadow:0 0 0 .0625em #fff,0 0 0 .125em rgba(50,100,150,.4)}.swal2-popup.swal2-toast .swal2-success{border-color:#a5dc86}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line]{position:absolute;width:1.6em;height:3em;transform:rotate(45deg);border-radius:50%}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.8em;left:-.5em;transform:rotate(-45deg);transform-origin:2em 2em;border-radius:4em 0 0 4em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.25em;left:.9375em;transform-origin:0 1.5em;border-radius:0 4em 4em 0}.swal2-popup.swal2-toast .swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-success .swal2-success-fix{top:0;left:.4375em;width:.4375em;height:2.6875em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line]{height:.3125em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip]{top:1.125em;left:.1875em;width:.75em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long]{top:.9375em;right:.1875em;width:1.375em}.swal2-popup.swal2-toast.swal2-show{-webkit-animation:swal2-toast-show .5s;animation:swal2-toast-show .5s}.swal2-popup.swal2-toast.swal2-hide{-webkit-animation:swal2-toast-hide .1s forwards;animation:swal2-toast-hide .1s forwards}.swal2-popup.swal2-toast .swal2-animate-success-icon .swal2-success-line-tip{-webkit-animation:swal2-toast-animate-success-line-tip .75s;animation:swal2-toast-animate-success-line-tip .75s}.swal2-popup.swal2-toast .swal2-animate-success-icon .swal2-success-line-long{-webkit-animation:swal2-toast-animate-success-line-long .75s;animation:swal2-toast-animate-success-line-long .75s}.swal2-container{display:flex;position:fixed;z-index:1060;top:0;right:0;bottom:0;left:0;flex-direction:row;align-items:center;justify-content:center;padding:.625em;overflow-x:hidden;transition:background-color .1s;background-color:transparent;-webkit-overflow-scrolling:touch}.swal2-container.swal2-top{align-items:flex-start}.swal2-container.swal2-top-left,.swal2-container.swal2-top-start{align-items:flex-start;justify-content:flex-start}.swal2-container.swal2-top-end,.swal2-container.swal2-top-right{align-items:flex-start;justify-content:flex-end}.swal2-container.swal2-center{align-items:center}.swal2-container.swal2-center-left,.swal2-container.swal2-center-start{align-items:center;justify-content:flex-start}.swal2-container.swal2-center-end,.swal2-container.swal2-center-right{align-items:center;justify-content:flex-end}.swal2-container.swal2-bottom{align-items:flex-end}.swal2-container.swal2-bottom-left,.swal2-container.swal2-bottom-start{align-items:flex-end;justify-content:flex-start}.swal2-container.swal2-bottom-end,.swal2-container.swal2-bottom-right{align-items:flex-end;justify-content:flex-end}.swal2-container.swal2-bottom-end>:first-child,.swal2-container.swal2-bottom-left>:first-child,.swal2-container.swal2-bottom-right>:first-child,.swal2-container.swal2-bottom-start>:first-child,.swal2-container.swal2-bottom>:first-child{margin-top:auto}.swal2-container.swal2-grow-fullscreen>.swal2-modal{display:flex!important;flex:1;align-self:stretch;justify-content:center}.swal2-container.swal2-grow-row>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-grow-column{flex:1;flex-direction:column}.swal2-container.swal2-grow-column.swal2-bottom,.swal2-container.swal2-grow-column.swal2-center,.swal2-container.swal2-grow-column.swal2-top{align-items:center}.swal2-container.swal2-grow-column.swal2-bottom-left,.swal2-container.swal2-grow-column.swal2-bottom-start,.swal2-container.swal2-grow-column.swal2-center-left,.swal2-container.swal2-grow-column.swal2-center-start,.swal2-container.swal2-grow-column.swal2-top-left,.swal2-container.swal2-grow-column.swal2-top-start{align-items:flex-start}.swal2-container.swal2-grow-column.swal2-bottom-end,.swal2-container.swal2-grow-column.swal2-bottom-right,.swal2-container.swal2-grow-column.swal2-center-end,.swal2-container.swal2-grow-column.swal2-center-right,.swal2-container.swal2-grow-column.swal2-top-end,.swal2-container.swal2-grow-column.swal2-top-right{align-items:flex-end}.swal2-container.swal2-grow-column>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{margin:auto}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-container .swal2-modal{margin:0!important}}.swal2-container.swal2-shown{background-color:rgba(0,0,0,.4)}.swal2-popup{display:none;position:relative;box-sizing:border-box;flex-direction:column;justify-content:center;width:32em;max-width:100%;padding:1.25em;border:none;border-radius:.3125em;background:#fff;font-family:inherit;font-size:1rem}.swal2-popup:focus{outline:0}.swal2-popup.swal2-loading{overflow-y:hidden}.swal2-header{display:flex;flex-direction:column;align-items:center}.swal2-title{position:relative;max-width:100%;margin:0 0 .4em;padding:0;color:#595959;font-size:1.875em;font-weight:600;text-align:center;text-transform:none;word-wrap:break-word}.swal2-actions{display:flex;z-index:1;flex-wrap:wrap;align-items:center;justify-content:center;width:100%;margin:1.25em auto 0}.swal2-actions:not(.swal2-loading) .swal2-styled[disabled]{opacity:.4}.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))}.swal2-actions:not(.swal2-loading) .swal2-styled:active{background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2))}.swal2-actions.swal2-loading .swal2-styled.swal2-confirm{box-sizing:border-box;width:2.5em;height:2.5em;margin:.46875em;padding:0;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;border:.25em solid transparent;border-radius:100%;border-color:transparent;background-color:transparent!important;color:transparent;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-actions.swal2-loading .swal2-styled.swal2-cancel{margin-right:30px;margin-left:30px}.swal2-actions.swal2-loading :not(.swal2-styled).swal2-confirm::after{content:"";display:inline-block;width:15px;height:15px;margin-left:5px;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;border:3px solid #999;border-radius:50%;border-right-color:transparent;box-shadow:1px 1px 1px #fff}.swal2-styled{margin:.3125em;padding:.625em 2em;box-shadow:none;font-weight:500}.swal2-styled:not([disabled]){cursor:pointer}.swal2-styled.swal2-confirm{border:0;border-radius:.25em;background:initial;background-color:#3085d6;color:#fff;font-size:1.0625em}.swal2-styled.swal2-cancel{border:0;border-radius:.25em;background:initial;background-color:#aaa;color:#fff;font-size:1.0625em}.swal2-styled:focus{outline:0;box-shadow:0 0 0 2px #fff,0 0 0 4px rgba(50,100,150,.4)}.swal2-styled::-moz-focus-inner{border:0}.swal2-footer{justify-content:center;margin:1.25em 0 0;padding:1em 0 0;border-top:1px solid #eee;color:#545454;font-size:1em}.swal2-image{max-width:100%;margin:1.25em auto}.swal2-close{position:absolute;z-index:2;top:0;right:0;justify-content:center;width:1.2em;height:1.2em;padding:0;overflow:hidden;transition:color .1s ease-out;border:none;border-radius:0;outline:initial;background:0 0;color:#ccc;font-family:serif;font-size:2.5em;line-height:1.2;cursor:pointer}.swal2-close:hover{transform:none;background:0 0;color:#f27474}.swal2-content{z-index:1;justify-content:center;margin:0;padding:0;color:#545454;font-size:1.125em;font-weight:400;line-height:normal;text-align:center;word-wrap:break-word}.swal2-checkbox,.swal2-file,.swal2-input,.swal2-radio,.swal2-select,.swal2-textarea{margin:1em auto}.swal2-file,.swal2-input,.swal2-textarea{box-sizing:border-box;width:100%;transition:border-color .3s,box-shadow .3s;border:1px solid #d9d9d9;border-radius:.1875em;background:inherit;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);color:inherit;font-size:1.125em}.swal2-file.swal2-inputerror,.swal2-input.swal2-inputerror,.swal2-textarea.swal2-inputerror{border-color:#f27474!important;box-shadow:0 0 2px #f27474!important}.swal2-file:focus,.swal2-input:focus,.swal2-textarea:focus{border:1px solid #b4dbed;outline:0;box-shadow:0 0 3px #c4e6f5}.swal2-file::-webkit-input-placeholder,.swal2-input::-webkit-input-placeholder,.swal2-textarea::-webkit-input-placeholder{color:#ccc}.swal2-file::-moz-placeholder,.swal2-input::-moz-placeholder,.swal2-textarea::-moz-placeholder{color:#ccc}.swal2-file:-ms-input-placeholder,.swal2-input:-ms-input-placeholder,.swal2-textarea:-ms-input-placeholder{color:#ccc}.swal2-file::-ms-input-placeholder,.swal2-input::-ms-input-placeholder,.swal2-textarea::-ms-input-placeholder{color:#ccc}.swal2-file::placeholder,.swal2-input::placeholder,.swal2-textarea::placeholder{color:#ccc}.swal2-range{margin:1em auto;background:inherit}.swal2-range input{width:80%}.swal2-range output{width:20%;color:inherit;font-weight:600;text-align:center}.swal2-range input,.swal2-range output{height:2.625em;padding:0;font-size:1.125em;line-height:2.625em}.swal2-input{height:2.625em;padding:0 .75em}.swal2-input[type=number]{max-width:10em}.swal2-file{background:inherit;font-size:1.125em}.swal2-textarea{height:6.75em;padding:.75em}.swal2-select{min-width:50%;max-width:100%;padding:.375em .625em;background:inherit;color:inherit;font-size:1.125em}.swal2-checkbox,.swal2-radio{align-items:center;justify-content:center;background:inherit;color:inherit}.swal2-checkbox label,.swal2-radio label{margin:0 .6em;font-size:1.125em}.swal2-checkbox input,.swal2-radio input{margin:0 .4em}.swal2-validation-message{display:none;align-items:center;justify-content:center;padding:.625em;overflow:hidden;background:#f0f0f0;color:#666;font-size:1em;font-weight:300}.swal2-validation-message::before{content:"!";display:inline-block;width:1.5em;min-width:1.5em;height:1.5em;margin:0 .625em;border-radius:50%;background-color:#f27474;color:#fff;font-weight:600;line-height:1.5em;text-align:center}.swal2-icon{position:relative;box-sizing:content-box;justify-content:center;width:5em;height:5em;margin:1.25em auto 1.875em;border:.25em solid transparent;border-radius:50%;font-family:inherit;line-height:5em;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-icon::before{display:flex;align-items:center;height:92%;font-size:3.75em}.swal2-icon.swal2-error{border-color:#f27474}.swal2-icon.swal2-error .swal2-x-mark{position:relative;flex-grow:1}.swal2-icon.swal2-error [class^=swal2-x-mark-line]{display:block;position:absolute;top:2.3125em;width:2.9375em;height:.3125em;border-radius:.125em;background-color:#f27474}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:1.0625em;transform:rotate(45deg)}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:1em;transform:rotate(-45deg)}.swal2-icon.swal2-warning{border-color:#facea8;color:#f8bb86}.swal2-icon.swal2-warning::before{content:"!"}.swal2-icon.swal2-info{border-color:#9de0f6;color:#3fc3ee}.swal2-icon.swal2-info::before{content:"i"}.swal2-icon.swal2-question{border-color:#c9dae1;color:#87adbd}.swal2-icon.swal2-question::before{content:"?"}.swal2-icon.swal2-question.swal2-arabic-question-mark::before{content:"؟"}.swal2-icon.swal2-success{border-color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-circular-line]{position:absolute;width:3.75em;height:7.5em;transform:rotate(45deg);border-radius:50%}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.4375em;left:-2.0635em;transform:rotate(-45deg);transform-origin:3.75em 3.75em;border-radius:7.5em 0 0 7.5em}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.6875em;left:1.875em;transform:rotate(-45deg);transform-origin:0 3.75em;border-radius:0 7.5em 7.5em 0}.swal2-icon.swal2-success .swal2-success-ring{position:absolute;z-index:2;top:-.25em;left:-.25em;box-sizing:content-box;width:100%;height:100%;border:.25em solid rgba(165,220,134,.3);border-radius:50%}.swal2-icon.swal2-success .swal2-success-fix{position:absolute;z-index:1;top:.5em;left:1.625em;width:.4375em;height:5.625em;transform:rotate(-45deg)}.swal2-icon.swal2-success [class^=swal2-success-line]{display:block;position:absolute;z-index:2;height:.3125em;border-radius:.125em;background-color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip]{top:2.875em;left:.875em;width:1.5625em;transform:rotate(45deg)}.swal2-icon.swal2-success [class^=swal2-success-line][class$=long]{top:2.375em;right:.5em;width:2.9375em;transform:rotate(-45deg)}.swal2-progress-steps{align-items:center;margin:0 0 1.25em;padding:0;background:inherit;font-weight:600}.swal2-progress-steps li{display:inline-block;position:relative}.swal2-progress-steps .swal2-progress-step{z-index:20;width:2em;height:2em;border-radius:2em;background:#3085d6;color:#fff;line-height:2em;text-align:center}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step{background:#3085d6}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step{background:#add8e6;color:#fff}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line{background:#add8e6}.swal2-progress-steps .swal2-progress-step-line{z-index:10;width:2.5em;height:.4em;margin:0 -1px;background:#3085d6}[class^=swal2]{-webkit-tap-highlight-color:transparent}.swal2-show{-webkit-animation:swal2-show .3s;animation:swal2-show .3s}.swal2-show.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-hide{-webkit-animation:swal2-hide .15s forwards;animation:swal2-hide .15s forwards}.swal2-hide.swal2-noanimation{-webkit-animation:none;animation:none}.swal2-rtl .swal2-close{right:auto;left:0}.swal2-animate-success-icon .swal2-success-line-tip{-webkit-animation:swal2-animate-success-line-tip .75s;animation:swal2-animate-success-line-tip .75s}.swal2-animate-success-icon .swal2-success-line-long{-webkit-animation:swal2-animate-success-line-long .75s;animation:swal2-animate-success-line-long .75s}.swal2-animate-success-icon .swal2-success-circular-line-right{-webkit-animation:swal2-rotate-success-circular-line 4.25s ease-in;animation:swal2-rotate-success-circular-line 4.25s ease-in}.swal2-animate-error-icon{-webkit-animation:swal2-animate-error-icon .5s;animation:swal2-animate-error-icon .5s}.swal2-animate-error-icon .swal2-x-mark{-webkit-animation:swal2-animate-error-x-mark .5s;animation:swal2-animate-error-x-mark .5s}@supports (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@-moz-document url-prefix(){.swal2-close:focus{outline:2px solid rgba(50,100,150,.4)}}@-webkit-keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@-webkit-keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@-webkit-keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@-webkit-keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@-webkit-keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@-webkit-keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@-webkit-keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.875em;width:1.5625em}}@-webkit-keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@-webkit-keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@-webkit-keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@-webkit-keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@-webkit-keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow:hidden}body.swal2-height-auto{height:auto!important}body.swal2-no-backdrop .swal2-shown{top:auto;right:auto;bottom:auto;left:auto;max-width:calc(100% - .625em * 2);background-color:transparent}body.swal2-no-backdrop .swal2-shown>.swal2-modal{box-shadow:0 0 10px rgba(0,0,0,.4)}body.swal2-no-backdrop .swal2-shown.swal2-top{top:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-top-left,body.swal2-no-backdrop .swal2-shown.swal2-top-start{top:0;left:0}body.swal2-no-backdrop .swal2-shown.swal2-top-end,body.swal2-no-backdrop .swal2-shown.swal2-top-right{top:0;right:0}body.swal2-no-backdrop .swal2-shown.swal2-center{top:50%;left:50%;transform:translate(-50%,-50%)}body.swal2-no-backdrop .swal2-shown.swal2-center-left,body.swal2-no-backdrop .swal2-shown.swal2-center-start{top:50%;left:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-center-end,body.swal2-no-backdrop .swal2-shown.swal2-center-right{top:50%;right:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-bottom{bottom:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-shown.swal2-bottom-left,body.swal2-no-backdrop .swal2-shown.swal2-bottom-start{bottom:0;left:0}body.swal2-no-backdrop .swal2-shown.swal2-bottom-end,body.swal2-no-backdrop .swal2-shown.swal2-bottom-right{right:0;bottom:0}@media print{body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:scroll!important}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true]{display:none}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container{position:static!important}}body.swal2-toast-shown .swal2-container{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-shown{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-top{top:0;right:auto;bottom:auto;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-top-end,body.swal2-toast-shown .swal2-container.swal2-top-right{top:0;right:0;bottom:auto;left:auto}body.swal2-toast-shown .swal2-container.swal2-top-left,body.swal2-toast-shown .swal2-container.swal2-top-start{top:0;right:auto;bottom:auto;left:0}body.swal2-toast-shown .swal2-container.swal2-center-left,body.swal2-toast-shown .swal2-container.swal2-center-start{top:50%;right:auto;bottom:auto;left:0;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-center{top:50%;right:auto;bottom:auto;left:50%;transform:translate(-50%,-50%)}body.swal2-toast-shown .swal2-container.swal2-center-end,body.swal2-toast-shown .swal2-container.swal2-center-right{top:50%;right:0;bottom:auto;left:auto;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-left,body.swal2-toast-shown .swal2-container.swal2-bottom-start{top:auto;right:auto;bottom:0;left:0}body.swal2-toast-shown .swal2-container.swal2-bottom{top:auto;right:auto;bottom:0;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-end,body.swal2-toast-shown .swal2-container.swal2-bottom-right{top:auto;right:0;bottom:0;left:auto}body.swal2-toast-column .swal2-toast{flex-direction:column;align-items:stretch}body.swal2-toast-column .swal2-toast .swal2-actions{flex:1;align-self:stretch;height:2.2em;margin-top:.3125em}body.swal2-toast-column .swal2-toast .swal2-loading{justify-content:center}body.swal2-toast-column .swal2-toast .swal2-input{height:2em;margin:.3125em auto;font-size:1em}body.swal2-toast-column .swal2-toast .swal2-validation-message{font-size:1em}</style>
    <style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://z-p3-static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
.fb_mpn_mobile_landing_page_slide_out{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_out_from_left{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out_from_left;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_up{animation-duration:500ms;animation-name:fb_mpn_landing_page_slide_up;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_in{animation-duration:300ms;animation-name:fb_mpn_bounce_in;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out{animation-duration:300ms;animation-name:fb_mpn_bounce_out;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out_v2{animation-duration:300ms;animation-name:fb_mpn_fade_out;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_v2{animation-duration:300ms;animation-name:fb_bounce_in_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_from_left{animation-duration:300ms;animation-name:fb_bounce_in_from_left;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2{animation-duration:300ms;animation-name:fb_bounce_out_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_from_left{animation-duration:300ms;animation-name:fb_bounce_out_from_left;transition-timing-function:ease-in}.fb_invisible_flow{display:inherit;height:0;overflow-x:hidden;width:0}@keyframes fb_mpn_landing_page_slide_out{0%{margin:0 12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;margin:0 24px;width:60px}}@keyframes fb_mpn_landing_page_slide_out_from_left{0%{left:12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;left:12px;width:60px}}@keyframes fb_mpn_landing_page_slide_up{0%{bottom:0;opacity:0}100%{bottom:24px;opacity:1}}@keyframes fb_mpn_bounce_in{0%{opacity:.5;top:100%}100%{opacity:1;top:0}}@keyframes fb_mpn_fade_out{0%{bottom:30px;opacity:1}100%{bottom:0;opacity:0}}@keyframes fb_mpn_bounce_out{0%{opacity:1;top:0}100%{opacity:.5;top:100%}}@keyframes fb_bounce_in_v2{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}50%{transform:scale(1.03, 1.03);transform-origin:bottom right}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}}@keyframes fb_bounce_in_from_left{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}50%{transform:scale(1.03, 1.03);transform-origin:bottom left}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}}@keyframes fb_bounce_out_v2{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}}@keyframes fb_bounce_out_from_left{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}}@keyframes slideInFromBottom{0%{opacity:.1;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}@keyframes slideInFromBottomDelay{0%{opacity:0;transform:translateY(100%)}97%{opacity:0;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}</style>
</head>





<body class="horizontal-layout dark-layout navbar-static footer-static footer-light pace-done menu-hide vertical-layout vertical-overlay-menu fixed-navbar" data-menu="horizontal-menu" data-col="2-columns" data-open="hover" data-layout="dark-layout">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>
    <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v11.0&amp;appId=296683821123435&amp;autoLogAppEvents=1" nonce="2VaoZwwt"></script>

    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="dashboard-analytics">
                        <div class="brand-logo"></div>
                        <h2 class="brand-text mb-0">Vuexy</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block primary collapse-toggle-icon" data-ticon="icon-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content ps">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


                <li class="nav-item  ">
                    <a href="/app/edu">
                        <i class="feather icon-home"></i>
                        <span class="menu-title" data-i18n="">Giao diện Frontend</span>
                    </a>
                </li>

                <li class="nav-item has-sub">
                    <a href="">
                        <i class="feather icon-home"></i>
                        <span class="menu-title" data-i18n="">Quản trị</span>
                        <span class="badge badge-warning badge-pill float-right mr-2 test ">2</span>
                    </a>
                    <ul class="menu-content">
                        <li class="">
                            <a href="dashboard-education">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Giáo dục</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://nentang.vn/app/admin/clear-cache">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Xóa bộ nhớ Cache</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-header">
                    <span>Quản lý Người dùng</span>
                </li>

                <li class="nav-item has-sub">
                    <a href="">
                        <i class="feather icon-unlock"></i>
                        <span class="menu-title" data-i18n="">Người dùng</span>
                    </a>
                    <ul class="menu-content">
                        <li class="">
                            <a href="app-user-list">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">List</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="app-user-view">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">View</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="app-user-edit">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Edit</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://nentang.vn/app/admin/auth/user">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Danh sách</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-sub">
                    <a href="">
                        <i class="feather icon-unlock"></i>
                        <span class="menu-title" data-i18n="">Vai trò</span>
                    </a>
                    <ul class="menu-content">
                        <li class="">
                            <a href="https://nentang.vn/app/admin/auth/role">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Danh sách</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-header">
                    <span>Nhật ký</span>
                </li>

                <li class="nav-item has-sub">
                    <a href="">
                        <i class="feather icon-unlock"></i>
                        <span class="menu-title" data-i18n="">Log Viewer</span>
                    </a>
                    <ul class="menu-content">
                        <li class="">
                            <a href="https://nentang.vn/app/admin/log-viewer">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Quản trị</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://nentang.vn/app/admin/log-viewer/logs">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Danh sách</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="navigation-header">
                    <span>Quản trị Khách hàng</span>
                </li>

                <li class="nav-item has-sub">
                    <a href="">
                        <i class="feather icon-unlock"></i>
                        <span class="menu-title" data-i18n="">Khách hàng</span>
                    </a>
                    <ul class="menu-content">
                        <li class="">
                            <a href="https://nentang.vn/app/admin/crm/customers">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Danh sách</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://nentang.vn/app/admin/crm/customers/deleted">
                                <i class="feather icon-circle"></i>
                                <span class="menu-title" data-i18n="">Danh sách đã xóa</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Header-->

    <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-fixed fixed-top" style="background: rgb(248, 248, 248); box-shadow: none;" data-nav="brand-center">
        <div class="navbar-header d-xl-block d-none">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item">
                    <a class="navbar-brand" href="/app">
                        <div class="brand-logo"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon feather icon-menu"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav bookmark-icons">
                            <!-- <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-todo" data-toggle="tooltip" data-placement="top" title="Todo"><i class="ficon feather icon-check-square"></i></a></li> -->
                            <!-- <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-chat" data-toggle="tooltip" data-placement="top" title="Chat"><i class="ficon feather icon-message-square"></i></a></li> -->
                            <!-- <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-email" data-toggle="tooltip" data-placement="top" title="Email"><i class="ficon feather icon-mail"></i></a></li> -->
                            <!-- <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-calender" data-toggle="tooltip" data-placement="top" title="Calendar"><i class="ficon feather icon-calendar"></i></a></li> -->
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link bookmark-star"><i class="ficon feather icon-star warning"></i></a>
                                <div class="bookmark-input search-input">
                                    <div class="bookmark-input-icon"><i class="feather icon-search primary"></i></div>
                                    <input class="form-control input" type="text" placeholder="Khám phá Nền tảng..." tabindex="0" data-search="laravel-search-list">
                                    <ul class="search-list search-list-bookmark ps"><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
                                </div>
                                <!-- select.bookmark-select-->
                                <!--   option 1-Column-->
                                <!--   option 2-Column-->
                                <!--   option Static Layout-->
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav float-right">

                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i class="ficon feather icon-maximize"></i></a></li>
                        <li class="nav-item nav-search">
                            <a class="nav-link nav-link-search"><i class="ficon feather icon-search"></i></a>
                            <div class="search-input">
                                <div class="search-input-icon"><i class="feather icon-search primary"></i></div>
                                <input class="input" type="text" placeholder="Khám phá Nền tảng..." tabindex="-1" data-search="laravel-search-list">
                                <div class="search-input-close"><i class="feather icon-x"></i></div>
                                <ul class="search-list search-list-main ps"><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
                            </div>
                        </li>
                        <!-- <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-primary badge-up">5</span></a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header m-0 p-2">
                                        <h3 class="white">5 New</h3><span class="grey darken-2">App Notifications</span>
                                    </div>
                                </li>
                                <li class="scrollable-container media-list">
                                    <a class="d-flex justify-content-between" href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i class="feather icon-plus-square font-medium-5 primary"></i></div>
                                            <div class="media-body">
                                                <h6 class="primary media-heading">You have new order!</h6><small class="notification-text"> Are your going to meet me tonight?</small>
                                            </div><small>
                                                <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">9 hours ago</time></small>
                                        </div>
                                    </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i class="feather icon-download-cloud font-medium-5 success"></i></div>
                                            <div class="media-body">
                                                <h6 class="success media-heading red darken-1">99% Server load</h6><small class="notification-text">You got new order of goods.</small>
                                            </div><small>
                                                <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">5 hour ago</time></small>
                                        </div>
                                    </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i class="feather icon-alert-triangle font-medium-5 danger"></i></div>
                                            <div class="media-body">
                                                <h6 class="danger media-heading yellow darken-3">Warning notifixation</h6><small class="notification-text">Server have 99% CPU usage.</small>
                                            </div><small>
                                                <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Today</time></small>
                                        </div>
                                    </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i class="feather icon-check-circle font-medium-5 info"></i></div>
                                            <div class="media-body">
                                                <h6 class="info media-heading">Complete the task</h6><small class="notification-text">Cake sesame snaps cupcake</small>
                                            </div><small>
                                                <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Last week</time></small>
                                        </div>
                                    </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                        <div class="media d-flex align-items-start">
                                            <div class="media-left"><i class="feather icon-file font-medium-5 warning"></i></div>
                                            <div class="media-body">
                                                <h6 class="warning media-heading">Generate monthly report</h6><small class="notification-text">Chocolate cake oat cake tiramisu marzipan</small>
                                            </div><small>
                                                <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Last month</time></small>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item p-1 text-center" href="javascript:void(0)">Read all notifications</a></li>
                            </ul>
                        </li> -->
                        <!-- /End notification -->
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-login" href="https://nentang.vn/app/login"><i class="ficon feather icon-log-in"></i> Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <ul class="main-search-list-defaultlist d-none">
        <li class="d-flex align-items-center">
            <a class="pb-25" href="#">
                <h6 class="text-primary mb-0">Files</h6>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="ml-0 mr-50"><img src="https://nentang.vn/app/images/icons/xls.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Two new item submitted</p><small class="text-muted">Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">'17kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="ml-0 mr-50"><img src="https://nentang.vn/app/images/icons/jpg.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">52 JPG file Generated</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">'11kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="ml-0 mr-50"><img src="https://nentang.vn/app/images/icons/pdf.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">25 PDF File Uploaded</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">'150kb</small>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100" href="#">
                <div class="d-flex">
                    <div class="ml-0 mr-50"><img src="https://nentang.vn/app/images/icons/doc.png" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna_Strong.doc</p><small class="text-muted">Web Designer</small>
                    </div>
                </div><small class="search-data-size mr-50 text-muted">'256kb</small>
            </a>
        </li>
        <li class="d-flex align-items-center">
            <a class="pb-25" href="#">
                <h6 class="text-primary mb-0">Members</h6>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="https://nentang.vn/app/images/portrait/small/avatar-s-8.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">John Doe</p><small class="text-muted">UI designer</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="https://nentang.vn/app/images/portrait/small/avatar-s-1.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Michal Clark</p><small class="text-muted">FontEnd Developer</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="https://nentang.vn/app/images/portrait/small/avatar-s-14.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Milena Gibson</p><small class="text-muted">Digital Marketing Manager</small>
                    </div>
                </div>
            </a>
        </li>
        <li class="auto-suggestion d-flex align-items-center cursor-pointer">
            <a class="d-flex align-items-center justify-content-between py-50 w-100" href="#">
                <div class="d-flex align-items-center">
                    <div class="avatar mr-50"><img src="https://nentang.vn/app/images/portrait/small/avatar-s-6.jpg" alt="png" height="32"></div>
                    <div class="search-data">
                        <p class="search-data-title mb-0">Anna Strong</p><small class="text-muted">Web Designer</small>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="main-search-list-defaultlist-other-list d-none">
        <li class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer">
            <a class="d-flex align-items-center justify-content-between w-100 py-50">
                <div class="d-flex justify-content-start"><span class="mr-75 feather icon-alert-circle"></span><span>No results found.</span></div>
            </a>
        </li>
    </ul>

    <!-- END: Header-->

    <div class="horizontal-menu-wrapper">
        <div class="main-menu menu-light menu-fixed menu-shadow" role="navigation" data-menu="menu-wrapper" data-nav="brand-center">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mr-auto">
                        <a class="navbar-brand" href="https://nentang.vn/app">
                            <div class="brand-logo"></div>
                            <h2 class="brand-text mb-0">NỀN TẢNG</h2>
                        </a>
                    </li>
                    <li class="nav-item nav-toggle">
                        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                            <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                            <i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content" data-menu="menu-container">
                <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">


                    <li class="nav-item  ">
                        <a href="/app" class="nav-link">
                            <i class="feather icon-home"></i>
                            <span data-i18n="Trang chủ">Trang chủ</span>
                        </a>
                    </li>

                    <li class="nav-item has-sub" data-menu="dropdown">
                        <a href="" class="" data-toggle="dropdown">
                            <i class="feather icon-home"></i>
                            <span data-i18n="">Đào tạo</span>
                        </a>
                        <ul class="">
                            <li class="  ">
                                <a href="/app/edu/lich-hoc" class="">
                                    <i class="feather icon-calendar"></i>
                                    <span data-i18n="">Lịch học</span>
                                </a>
                            </li>
                            <li class="  ">
                                <a href="/app/exam" class="">
                                    <i class="feather icon-calendar"></i>
                                    <span data-i18n="">Bài tập</span>
                                </a>
                            </li>
                            <li class="  menu-hot">
                                <a href="https://hotro.nentang.vn" class="">
                                    <i class="feather icon-zap"></i>
                                    <span data-i18n="">Quản lý Công việc</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-sub" data-menu="dropdown">
                        <a href="" class="" data-toggle="dropdown">
                            <i class="feather icon-home"></i>
                            <span data-i18n="">Tin tức</span>
                        </a>
                        <ul class="">
                            <li class="  ">
                                <a href="/app/cms/bai-viet" class="">
                                    <i class="feather icon-home"></i>
                                    <span data-i18n="">Tin tức</span>
                                </a>
                            </li>
                            <li class="  menu-hot">
                                <a href="/app/cms/bai-viet/tuyen-dung" class="">
                                    <i class="feather icon-zap"></i>
                                    <span data-i18n="">Tuyển dụng</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-sub" data-menu="dropdown">
                        <a href="" class="" data-toggle="dropdown">
                            <i class="feather icon-home"></i>
                            <span data-i18n="">Tiện ích</span>
                        </a>
                        <ul class="">
                            <li class="  ">
                                <a href="/app/cong-cu" class="">
                                    <i class="feather icon-settings"></i>
                                    <span data-i18n="">Công cụ</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-sub" data-menu="dropdown">
                        <a href="" class="" data-toggle="dropdown">
                            <i class="feather icon-home"></i>
                            <span data-i18n="">Dịch vụ</span>
                        </a>
                        <ul class="">
                            <li class="  menu-hot menu-dichvu">
                                <a href="/app/cms/dich-vu/bao-gia/bao-gia-dich-vu-thiet-ke-web-thuong-mai-dien-tu-ecommerce" class="">
                                    <i class="feather icon-star"></i>
                                    <span data-i18n="">Dịch vụ</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-sub" data-menu="dropdown">
                        <a href="" class="" data-toggle="dropdown">
                            <i class="feather icon-home"></i>
                            <span data-i18n="">Giới thiệu/Liên hệ</span>
                        </a>
                        <ul class="">
                            <li class="  ">
                                <a href="/app/lien-he" class="">
                                    <i class="feather icon-settings"></i>
                                    <span data-i18n="">Liên hệ</span>
                                </a>
                            </li>
                            <li class="  menu-hot">
                                <a href="https://discord.gg/Wzgwt6jVVU" class="">
                                    <i class="feather icon-zap"></i>
                                    <span data-i18n="">Kênh CHAT</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper p-0">

            <div class="container">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-left mb-0">Liên hệ</h2>
                                <div class="breadcrumb-wrapper col-12">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="content-body">

                <div id="contact-page" class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center">Nền tảng Kiến thức - Hành trang tới Tương lai</h1>
                            <h5 class="text-center">Cung cấp kiến thức nền tảng về Lập trình, Thiết kế Web, Cơ sở dữ liệu...</h5>
                            <h5 class="text-center">Giúp các bạn có niềm tin, hành trang kiến thức vững vàng trên con đường trở thành Nhà phát triển Phần mềm trong tương lai!</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Giới thiệu</h4>
                                    <i class="feather icon-more-horizontal cursor-pointer"></i>
                                </div>
                                <div class="card-body">
                                    <p>Họ tên: Dương Nguyễn Phú Cường</p>
                                    <p>Code with my love <i class="fa fa-heart"></i></p>
                                    <div class="mt-1">
                                        <h6 class="mb-0">Email:</h6>
                                        <p>
                                            <a href="mailto:phucuong@ctu.edu.vn">phucuong@ctu.edu.vn</a><br>
                                            <a href="mailto:nentangtoituonglai@gmail.com">nentangtoituonglai@gmail.com</a>
                                        </p>
                                    </div>
                                    <div class="mt-1">
                                        <h6 class="mb-0">Điện thoại:</h6>
                                        <p>
                                            <a href="tel:0915659223">0915-659-223</a><br>
                                        </p>
                                    </div>
                                    <div class="mt-1">
                                        <h6 class="mb-0">Website:</h6>
                                        <p><a href="https://nentang.vn">nentang.vn</a></p>
                                    </div>
                                    <div class="mt-1">



                                        <a href="https://github.com/kellyfire611" class="btn btn-sm btn-icon btn-primary p-25 waves-effect waves-light"><i class="feather icon-github"></i> Github</a>
                                        <a href="https://zalo.me/0915659223" class="btn btn-sm btn-icon btn-primary p-25 waves-effect waves-light"><i class="feather icon-zalo"></i> Zalo</a>
                                        <a href="https://discord.gg/Wzgwt6jVVU" class="btn btn-sm btn-icon btn-primary p-25 waves-effect waves-light"><i class="feather icon-zalo"></i> Discord</a>
                                    </div>
                                </div>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.7235485722294!2d105.78061631523369!3d10.039656175103817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a062a768a8090b%3A0x4756d383949cafbb!2zMTMwIFjDtCBWaeG6v3QgTmdo4buHIFTEqW5oLCBBbiBI4buZaSwgTmluaCBLaeG7gXUsIEPhuqduIFRoxqEsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1556697525436!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-9 col-lg-9">
                            <div class="row">
                                <div class="col">
                                    <div class="cover-container">
                                        <img class="img-fluid bg-cover rounded-0 w-100" src="https://nentang.vn/wp-content/uploads/2021/05/CardVisit_NenTang_FrontSide.png" alt="Nền tảng Kiến thức - Hành trang tới Tương lai">
                                    </div>
                                </div>
                            </div>

                            <section class="multiple-validation">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">Gởi lời nhắn đến Chúng tôi 💜💜💙💙💖💖</h4>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <form class="form-horizontal" method="post" action="https://nentang.vn/app/lien-he/send" novalidate="">
                                                        <input type="hidden" name="_token" value="8IwVshlzdtA8qVBuCpCvEWxvY2DHZcB1VPly7IHM">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <input type="text" name="name" class="form-control" placeholder="Họ tên của bạn" required="" data-validation-required-message="Vui lòng nhập Họ tên" autofocus="autofocus" aria-invalid="false">
                                                                        <div class="help-block"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <input type="email" name="email" class="form-control" placeholder="Địa chỉ Email của bạn" required="" data-validation-required-message="Vui lòng nhập Địa chỉ Email">
                                                                        <div class="help-block"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <input type="text" name="phone" class="form-control" placeholder="Số điện thoại" required="" data-validation-required-message="Vui lòng để lại số điện thoại để chúng tôi tiện liên hệ">
                                                                        <div class="help-block"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <textarea name="message" class="form-control" placeholder="Nhập lời nhắn của bạn" rows="10" required="" data-validation-required-message="Vui lòng nhập lời nhắn của bạn. Sau khi nhận được thông tin, chúng tôi sẽ liên hệ lại bạn trong thời gian sớm nhất."></textarea>
                                                                        <div class="help-block"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary waves-effect waves-light">Gởi lời nhắn 🚀</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- End: Content-->





    <div class="sidenav-overlay" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
    <!-- <div class="drag-target"></div> -->
    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <!--
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img class="img-fluid bg-cover rounded-1" style="width: 222px;" src="https://nentang.vn/wp-content/uploads/2021/05/CardVisit_NenTang_FrontSide.png" alt="Nền tảng Kiến thức - Hành trang tới Tương lai">
                        <div>
                            <h2>Nền tảng - Hành trang tới Tương lai</h2>
                        </div>
                    </div>
                    <div class="col">
                        <ul>
                            <li><a href="https://nentang.vn/app">Trang chủ</a></li>
                            <li><a href="https://nentang.vn/app/edu/lich-hoc">Lịch học</a></li>
                            <li><a href="https://nentang.vn/app/exam">Bài tập</a></li>
                            <li><a href="https://nentang.vn/app/cong-cu">Công cụ</a></li>
                            <li><a href="https://nentang.vn/app/cms/bai-viet/tuyen-dung">Tuyển dụng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="max-width: 340px; width: 340px;">

            </div>
        </div>
        -->

        <p class="clearfix blue-grey lighten-2 mb-0">
            <span class="float-md-left d-block d-md-inline-block mt-25">Bản quyền © 2019 - 2023 bởi <a class="text-bold-800 grey darken-2" href="https://nentang.vn" target="_blank">Nền tảng,</a>Các quyền ® được bảo hộ!</span>
            <span class="float-md-right d-none d-md-block">Được xây dựng bằng tất cả <i class="feather icon-heart pink"></i></span>

            <span id="counter">1 online</span>
        </p>
    </footer>
    <!-- END: Footer-->
    <!--<h3>Live stream</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCOaCQplCyIutBLSdFNCzxyQ" frameborder="0" allowfullscreen></iframe>-->

    <script src="https://nentang.vn/app/vendors/js/vendors.min.js?id=d2f8a8142262670251ea"></script>
    <ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;" data-ad-status="unfilled"><div id="aswift_0_host" style="border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-block;" tabindex="0" title="Advertisement" aria-label="Advertisement"><iframe id="aswift_0" name="aswift_0" browsingtopics="true" style="left:0;position:absolute;top:0;border:0;width:undefinedpx;height:undefinedpx;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allow="attribution-reporting" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-6903007690503165&amp;output=html&amp;adk=1812271804&amp;adf=3025194257&amp;lmt=1697534432&amp;plat=2%3A16777216%2C3%3A16%2C4%3A16%2C9%3A134250504%2C16%3A8388608%2C17%3A32%2C24%3A32%2C25%3A32%2C30%3A1081344%2C32%3A32%2C41%3A32%2C42%3A32&amp;format=0x0&amp;url=https%3A%2F%2Fnentang.vn%2Fapp%2Flien-he&amp;ea=0&amp;pra=5&amp;wgl=1&amp;easpi=0&amp;asro=0&amp;asiscm=1&amp;aslmt=0.4&amp;asamt=-1&amp;asedf=0&amp;asefa=1&amp;aseiel=1~2&amp;ascmds=1&amp;itsi=0&amp;uach=WyJXaW5kb3dzIiwiMTUuMC4wIiwieDg2IiwiIiwiMTE4LjAuNTk5My43MSIsW10sMCxudWxsLCI2NCIsW1siQ2hyb21pdW0iLCIxMTguMC41OTkzLjcxIl0sWyJHb29nbGUgQ2hyb21lIiwiMTE4LjAuNTk5My43MSJdLFsiTm90PUE_QnJhbmQiLCI5OS4wLjAuMCJdXSwwXQ..&amp;dt=1697534432382&amp;bpp=4&amp;bdt=711&amp;idt=134&amp;shv=r20231011&amp;mjsv=m202310100101&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3D758b313d2a598f89-22962979eee40091%3AT%3D1697534376%3ART%3D1697534395%3AS%3DALNI_MYEDxawebfFGJzb7e4tzuu2NtxSSg&amp;gpic=UID%3D00000c651ad30264%3AT%3D1697534376%3ART%3D1697534376%3AS%3DALNI_MZhTKcBLgdYiUeYqpwZHO7PTp6RRA&amp;nras=1&amp;correlator=299499137600&amp;frm=20&amp;pv=2&amp;ga_vid=1542073722.1697534375&amp;ga_sid=1697534433&amp;ga_hid=1812116336&amp;ga_fc=1&amp;u_tz=420&amp;u_his=6&amp;u_h=864&amp;u_w=1536&amp;u_ah=816&amp;u_aw=1536&amp;u_cd=24&amp;u_sd=1.25&amp;dmc=8&amp;adx=-12245933&amp;ady=-12245933&amp;biw=1531&amp;bih=707&amp;scr_x=0&amp;scr_y=0&amp;eid=44759876%2C44759927%2C31078594%2C31078831%2C44805113%2C44805534%2C44805921%2C31078663%2C31078665%2C31078668%2C31078670&amp;oid=2&amp;pvsid=3039099946732223&amp;tmod=1300719877&amp;uas=0&amp;nvt=1&amp;fsapi=1&amp;ref=https%3A%2F%2Fnentang.vn%2Fapp%2Fcms%2Fdich-vu%2Fbao-gia%2Fbao-gia-dich-vu-thiet-ke-web-thuong-mai-dien-tu-ecommerce&amp;fc=1920&amp;brdim=0%2C0%2C0%2C0%2C1536%2C0%2C1536%2C816%2C1536%2C707&amp;vis=1&amp;rsz=%7C%7Cs%7C&amp;abl=NS&amp;fu=32768&amp;bc=31&amp;td=1&amp;nt=1&amp;ifi=1&amp;uci=a!1&amp;fsb=1&amp;dtd=151" data-google-container-id="a!1" data-load-complete="true"></iframe></div></ins>
    <script src="https://nentang.vn/app/vendors/js/ui/prism.min.js?id=39722341e3326325a2a5"></script>
    <script src="https://nentang.vn/app/js/frontend.js?id=e9bc55447ac7f892ebdc"></script>


    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://nentang.vn/app/js/core/app-menu.js?id=e5d2169e1c1b7fe26233"></script>
    <script src="https://nentang.vn/app/js/core/app.js?id=ce8d71dee99a9431ff18"></script>

    <script>
        $('body').on('click', '.btn-announcement-bar-dismiss', function () {
            let eleAnnouncementBar = $(this).closest('.nentang-announcement-bar');
            if (!eleAnnouncementBar) {
                return;
            }

            $(eleAnnouncementBar).remove();
        });
    </script>

    <script src="https://nentang.vn/app/js/scripts/components.js?id=dcb73a5b994a44823b28"></script>
    <script src="https://nentang.vn/app/js/scripts/customizer.js?id=034ea515a93f46e99c65"></script>
    <script src="https://nentang.vn/app/js/scripts/footer.js?id=da1887eac7ce5674133f"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-E8H4BHH809"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E8H4BHH809');
    </script>





    <script src="https://nentang.vn/app/vendors/js/forms/validation/jqBootstrapValidation.js?id=d8db5e26fe4bce24dd01"></script>


    <script src="https://nentang.vn/app/js/scripts/forms/validation/form-validation.js?id=5079b69e44190cf766ca"></script>
    <script src="https://nentang.vn/app/js/scripts/pages/user-profile.js?id=3e0cbd9ef2597d2109b4"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        function generateYoutube(url, width, height) {
            if (!url || url.length == 0) {
                return '';
            }

            // extract the ID
            let matches = url.match(/[\?\&]v=([^\?\&]+)/);

            // the ID of the YouTube URL: x6qe_kVaBpg
            let id = matches[1];

            // set a custom width and height
            let w = width || 640;
            let h = height || 360;

            // echo the embed code. You can even wrap it in a class
            let html = '<div class="youtube-article"><iframe class="dt-youtube" width="' + w + '" height="' + h + '" src="//www.youtube.com/embed/' + id + '" frameborder="0" allowfullscreen></iframe></div>';

            return html;
        }
    </script>

    <script>
// const socket = io('https://socketio.nentang.vn', { transports: ["websocket"] });

// socket.on('counter', function (data) {
//   $("#counter").text(data.count);
// });

// socket.on('server_emit_update_status', function(data) {
//   let html = generateYoutube(data, '100%', 360);
//   $('#status').html(html);
// });

// socket.on('connected', function(data) {
//   console.log(data);
//   let html = generateYoutube(data, '100%', 360);
//   $('#youtube_live_section').html(html);
// });

// socket.on('server_emit_update_youtube', function(data) {
//   let html = generateYoutube(data, '100%', 360);
//   $('#youtube_live_section').html(html);
// })

// $(function() {
//   $('#btnUpdate').on('click', function() {
//     let now = new Date();
//     let newStatus = $('#txtStatus').val();

//     socket.emit('update_status', newStatus);
//   });
// });
    </script>








    <iframe src="https://www.google.com/recaptcha/api2/aframe" width="0" height="0" style="display: none;"></iframe>
</body>
<iframe id="google_esf" name="google_esf" src="https://googleads.g.doubleclick.net/pagead/html/r20231011/r20190131/zrt_lookup.html" style="display: none;"></iframe>
</html>