@using PagedList.Mvc
@{
    ViewBag.Title = "Index";

}
<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 400px;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    @foreach (SachOnline.Models.SACH item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTietSach", "SachOnline", new { Masach = item.Masach })">
                    <img src="@item.Anhbia" alt="">
                </a>
                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline", new { Masach = item.Masach})">@item.Tensach</a>
                    </h4>

                    <a href="@Url.Action("ChiTietSach","SachOnline", new { Masach = item.Masach})">@item.Mota</a>
                    <p>
                        <a href="@Url.Action("ThemGioHang","GioHang",new {Masach = item.Masach})" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
            <br />
        </div>
    }
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(
    (PagedList.IPagedList)Model,
    page => Url.Action("Index", new { page = page })
//PagedListRenderOptions.TwitterBootstrapPager
)